---
import { ClientRouter } from 'astro:transitions';

import '../styles/global.css';

interface Props {
  title: string;
}

const {title} = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="google-site-verification" content="Kqn6Ox__Uoas4eT48MEqZkIMSCUtnNmeR_rWtMADVdw" />
		<meta name="description" content="A comprehensive guide to the districts of Panem, featuring detailed information about each district's industry, victors, and role in the Hunger Games universe." />
		<meta name="keywords" content="Panem, Hunger Games, District 1, District 2, District 3, District 4, District 5, District 6, District 7, District 8, District 9, District 10, District 11, District 12, Capitol, Mockingjay, Suzanne Collins, Los Juegos del Hambre, Distrito" />
		<meta name="author" content="Emcahell" />
		<title>Districts of Panem | {title}</title>
		<ClientRouter />
	</head>
	<body class="bg-background">
		<slot />
	</body>
</html>
