---
import { ClientRouter } from 'astro:transitions';

import '../styles/global.css';

interface Props {
  title: string;
}

const {title} = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="google-site-verification" content="Kqn6Ox__Uoas4eT48MEqZkIMSCUtnNmeR_rWtMADVdw" />
		<title>Districts of Panem | {title}</title>
		<ClientRouter />
	</head>
	<body class="bg-background">
		<slot />
	</body>
</html>
